$mainFontFamily: Source Sans Pro, Arial, sans-serif;
$primaryBackgroundColor: rgba(13, 37, 65, 1);
$whiteColor: #ffffff;
$blackColor: #222222;
$accentColor: rgba(1, 180, 228, 1);
$tmdbLightGreen: rgba(30, 213, 16, 1);
$tmdbLightBlue: rgba(1, 180, 228, 1);
$maxWidth: 1400px;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
