$main-font-family: Source Sans Pro, Arial, sans-serif;
$title-text-color: #212121;
$primary-background-color: rgba(13, 37, 65, 1);
$white-color: #ffffff;
$black-color: #222222;
$tmdbLightGreen: rgba(30, 213, 16, 1);
$tmdbLightBlue: rgba(1, 180, 228, 1);
$accent-color: rgba(1, 180, 228, 1);
$max-width: 1400px;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);