html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    font-family: $mainFontFamily;
    font-weight: 400;
    letter-spacing: 0.5px;
    background-color: $whiteColor;
  }
  main {
    min-height: 25vh;
    margin-top: 60px;
  }
  h1,
  h2,
  h3,
  li,
  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .section {
    max-width: $maxWidth;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    &__title {
      margin: 0 30px 30px;
      font-size: 30px;
    }

    &__background {
      max-width: $maxWidth;
      margin-right: auto;
      margin-left: auto;
      background-image: url('@/assets/images/svg/trands-bg.svg');
      background-repeat: no-repeat;
      background-position: 50% 200px;
      background-size: $maxWidth;
      overflow: hidden;
    }
  }

  .container {
    width: 100%;
  
    @include for-size(tablet-portrait) {
      width: 480px;
    }
  
    @include for-size(tablet-landscape) {
      width: 768px;
    }
  
    @include for-size(desktop) {
      width: $maxWidth;
    }
  }

  .flex-justify-center {
    @include display-flex(flex-justify-center)
  }

  .flex-justify-flex-end {
    @include display-flex(flex-justify-flex-end)
  }

  .margin-auto {
    margin-right: auto;
    margin-left: auto;
  }

  .ml-20 {
    margin-left: 20px;
  }
  

