.banner {
  max-width: $maxWidth;
  min-height: 300px;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(47, 48, 58, 0.4);
  overflow: hidden;
  color: $whiteColor;

  &__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 1;
  }
  &__subtitle {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.banner--background {
  background-image: linear-gradient(to right,
      rgba($primaryBackgroundColor, 0.8) 0%,
      rgba($primaryBackgroundColor, 0) 100%),
    url('https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/ctMserH8g2SeOAnCw5gFjdQF8mo.jpg');
}