.footer {
    max-width: 100%;
    min-height: 300px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    color: $whiteColor;
    background-image: radial-gradient(at 30%top,#031d33 0%,$primaryBackgroundColor 70%);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(47, 48, 58, 0.4);
    overflow: hidden;

    &__container {
      max-width: $maxWidth;
    }

    &__nav {
      display: flex;
      flex-wrap: nowrap;
      align-items: baseline;
      width: 100%;
      flex-direction: column;

      @include for-size(tablet-landscape) {
        flex-direction: row;
      }
    }

    &__logo {
      display: flex;
      flex-direction: column;
      margin-right: 40px;

      @include for-size(tablet-landscape) {
        align-items: flex-end;
      }
    }
    &__info {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 20px;

      @include for-size(tablet-landscape) {
        flex-direction: row;
      }
    }
    &__item {
      flex: 1 1 auto;
      width: 130px;
    }
    &__title {
      margin: 4px 0;
      text-transform: uppercase;
     }
     &__list {
      line-height: 30px;
     }
  }

  
  