.gallery-item {
      position: relative;
      width: 150px;
      min-width: 150px;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
    }
  }
  
  .gallery-item-image {
    width: 100%;
    object-fit: cover;
    // border-radius: 8px;
    min-height: 225px;

    &:hover {
      transform: scale(1.03);
      cursor: pointer;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .gallery-item-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    // opacity: 0.6;
    background-color: transparent;
    color: $accent-color
  }

  .content {
    width: 100%;
    padding: 26px 10px 12px;
    white-space: normal;
    font-size: 12px;
  }