.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
  background-color: $primaryBackgroundColor;

  &__nav {
    @include display-flex(flex);
    flex-wrap: wrap;

    @include for-size(tablet-landscape) {
      flex-wrap: nowrap;
    }

    &-item {
      margin-top: 5px;
      font-weight: 600;
      font-size: 20px;
    }
    &-item:not(:last-child) {
      position: relative;
      margin-right: 50px;
    }
  }

  &__logo {
    min-width: 154px;
    min-height: 20px;
  }

  &__nav .link {
    &:hover,
    &:focus {
      transform: scale(1.1);
      transition: transform 250ms $timingFunction;

      &::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 2;
        display: block;
        width: 100%;
        height: 4px;
        background-color: $accentColor;
      }
    }
  }
}

.header--show {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

a, a:visited {
  color: $accentColor;
}

a.router-link-exact-active {
  color:$whiteColor
}
