.movie {
    max-width: 1600px;
}
.card {
    @include display-flex(flex);

    &__info {
        width: 70%;
        margin-left: 20px;
    }
    &__title {
        font-size: 32px;
    }
    &__text {
        margin: 10px 0
    }
}